/*ユーザーエージェントスタイルシートを統一するスタイルシートをlayerとして読み込んでいる、*/
@import url("../CommonFiles/Normalize.css") layer(normalize);
/*webページ全体で共通するスタイルをレイヤーとして読み込んでいる*/
@import url("../CommonFiles/Standard.css") layer(standard);

@layer normalize, standard, Layout, appearance, animation;
/*マジックナンバー防ぐよう
:root {

}
*/

/*margin positionなどコンテンツの配置に関するレイヤー*/
@layer Layout {
    header {
        position:relative;
    }

    #Title {
        position: absolute;
        display: block;
        bottom: 15px;
    }

    main{
        position:relative;
    }

    .SnsContainer{
        display:flex;
        margin:20px 0px 20px 0px;
        justify-content:center;
        flex-wrap:wrap;
        gap:30px;
    }
    .SnsIntroduction {
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .SnsIntroduction h2 {
        margin: 15px 0px;
    }
    .SnsIntroduction a{
        margin-top:20px;
        padding:20px;
    }
}

/*コンテンツ内のデザインに着目したレイヤー*/
@layer appearance {
    html {
        background-color: floralwhite;
    }

    header {
        border-bottom: 1px solid gray;
        height: 120px;
        width: 100%;
        background-color: white;
    }

    #Title {
        font-family: sans-serif;
        width: 100%;
        text-align: center;
    }

    .SnsIntroduction {
        width: 325px;
        height: 360px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
        transition:transform 0.3s,box-shadow 0.3s;
    }
    .SnsIntroduction h2{
        color:rgb(0, 86, 179);
    }

    .SnsIntroduction img {
        width: 200px;
        height: 200px;
    }
    .SnsIntroduction a {
        background-color: #007bff;
        color: white;
        border-radius: 20px;
        text-decoration: none;
    }
}
/*疑似クラスやkeyframesなどによるアニメーションを記述*/
@layer animation{
    .SnsIntroduction:hover {
        transform: translateY(-5px);
        box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    }
    .SnsIntroduction a:hover {
        background-color: rgb(59, 96, 206);
    }

}
/*横幅が790px以下になった時に適用するスタイル。ここではレイアウトとappearanceの区分はない*/
@media (max-width:790px) {
}
