/*ユーザーエージェントスタイルシートを統一するスタイルシートをlayerとして読み込んでいる、*/
@import url("../Normalize.css") layer(normalize);
/*webページ全体で共通するスタイルをレイヤーとして読み込んでいる*/
@import url("../Standard.css") layer(standard);

@layer normalize, standard, Layout, appearance;

@property --ScreenWidth{
    syntax:"<length>";
    inherits:true;
    initial-value:100vw;
}
/*マジックナンバー防ぐよう*/
:root {
    --hiraki_doai:1;
    --width:100
}

/*margin transformなどコンテンツ外に関するレイヤー*/
@layer Layout {
    header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        /*Title2クラスがはみ出しにより、スクロール領域が拡大するのを防ぐ用*/
        overflow: hidden;
    }
    header canvas{
        position:absolute;
        z-index:2;
    }
    header #Title1 {
        position: absolute;
        transform: rotateZ(calc(-1 * atan2(280px, 100vw))) translateY(-65px) translateX(-150px);
        margin: 0px;
        z-index: 3;
    }

    header #Title2 {
        position: absolute;
        transform: rotateZ(calc(-1 * atan2(280px, 100vw)));
        margin: 0px;
        z-index: 3;
    }

    main{
        overflow:hidden;
        position:relative;
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    main #SSC{
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:20px;
    }
    main #SSC .SS {
        top:20px;
    }
    main #SSC .SS h2 {
        margin: 0px;
    }
    main #SSC .SS p {
        margin: 0px;
    }

    main #HSC {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    main #HSC .HS {
    }
    main #HSC .HS h2 {
        margin: 0px;
    }
    main #HSC .HS p {
        margin: 0px;
    }



}

/*コンテンツ内の色やサイズなどに着目したレイヤー*/
@layer appearance {
    body {
        background-color: floralwhite;
    }
    header {
        height: 280px;
        background-color:black;
    }
    header canvas{
        width:100%;
        height:100%;
    }
    header #Title1 {
        font-size: 40px;
        letter-spacing: 10px;
        color: white;
    }

    header #Title2 {
        text-align: center;
        font-size: 50px;
        width: calc(100% + 200px);
        padding: 7px 0px;
        background-color: rgba(255, 255, 255, 0.5);
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: white;
        /*文字→輪郭から輪郭→文字の順で描画させる*/
        paint-order: stroke;
        color: black;
        border-bottom:3px solid white;
        border-top:3px solid white;
    }
    main{
    }
    main #SSC {
        width: 100%;
        border: 20px solid white;
        background-color: white;
        box-sizing: border-box;
    }
    main #SSC .SS {
        width: 100%;
        background-color: black;
        color: white;
        border: 1px solid black;
        box-sizing: border-box;
    }
    main #SSC .SS h2 {
        padding: 10px;
        background-color: rgb(255, 255, 255);
        color: deepskyblue;
    }
    main #SSC .SS p {
        padding: 10px;
        line-height: 30px;
    }

    main #HSC {
        width: 100%;
        border: 20px solid black;
        background-color:black;
        box-sizing: border-box;
    }
    main #HSC .HS {
        width: 100%;
        background-color: white;
        border: 1px solid white;
        box-sizing: border-box;
    }

    main #HSC .HS h2 {
        color: orange;
        padding: 10px;
        background-color: black;
    }

    main #HSC .HS p {
        padding: 10px;
        line-height: 30px;
    }


}
/*横幅が635px以下になった時に適用するスタイル。ここではレイアウトとタイポグラフィーの区分はない*/
@media (max-width:790px) {
    header #Title1 {
        font-size: 25px;
        transform: rotateZ(calc(-1 * atan2(280px, 100vw))) translateY(-50px) translateX(-80px);
    }

    header #Title2 {
        font-size: 35px;
    }

}
