/*ユーザーエージェントスタイルシートを統一するスタイルシートをlayerとして読み込んでいる、*/
@import url("../CommonFiles/Normalize.css") layer(normalize);
/*webページ全体で共通するスタイルをレイヤーとして読み込んでいる*/
@import url("../CommonFiles/Standard.css") layer(standard);

@layer normalize, standard, Layout, appearance;
/*マジックナンバー防ぐよう*/
:root {
    --SectionMargin: 20px;
    --Z_level_1: 1;
    --Z_level_2: 2;
}

/*margin paddingなどコンテンツの配置に関するレイヤー*/
@layer Layout {
    header {
        position: relative;
    }
    #HeaderBackground {
        position: absolute;
        z-index: var(--Z_level_1);
        top: 0px;
    }
    #HeaderLogo {
        position: absolute;
        left: 10px;
        bottom: 0px;
        z-index: var(--Z_level_2);
    }
    #HeaderTitle {
        z-index: var(--Z_level_2);
        position: absolute;
        right: 10px;
        bottom: 10px;
    }


    .SectionContainer {
        display: flex;
        flex-direction: column;
        gap: var(--SectionMargin);
        margin: var(--SectionMargin);
    }

    .section p {
        margin: 10px 10px;
    }

}

/*要素のデザインに着目したレイヤー*/
@layer appearance {
    html {
        background-color: floralwhite;
    }
    header {
        width: 100%;
        height: 280px;
    }
    #HeaderBackground {
        width: 100%;
        height: 280px;
        object-fit: cover;
    }

    #HeaderLogo img {
        width: 165px;
    }

    #HeaderTitle {
        font-family: sans-serif;
        font-size: 60px;
        color: white;
        text-shadow: 2px 2px 15px green;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: black;
        /*文字→輪郭から輪郭→文字の順で描画させる*/
        paint-order: stroke;
    }
    .section {
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .section .SectionTitle {
        padding: 5px 10px;
        font-family: sans-serif;
        background-color: dimgray;
        border-left: solid 4px black;
        border-bottom: solid 2px black;
        color: white;
    }

    .section p {
        line-height: 30px;
    }
}
/*横幅が790px以下になった時に適用するスタイル。ここではレイアウトとappearanceの区分はない*/
@media (max-width:790px) {
    #HeaderLogo {
        /* 1. 親要素の左端から50%の位置に移動 */
        left: 50%;
        /* 2. 要素自身の幅の50%分、左にずらす */
        transform: translateX(-50%);
        bottom: 50px
    }

    #HeaderLogo img {
        width: 165px;
    }

    #HeaderTitle {
        /* 1. 親要素の左端から50%の位置に移動 */
        left: 50%;
        /* 2. 要素自身の幅の50%分、左にずらす */
        transform: translateX(-50%);
        /* 3. 折り返しさせずにコンテンツ分の幅を確保する。
        */
        width: max-content;
        font-size: 35px
    }

}


