/*このcssは各webページで共通するスタイルが記述されています。*/

/*マジックナンバー防ぐよう*/
:root {
}

/*margin paddingなどコンテンツの配置に関するレイヤー*/
@layer Layout {
	body {
		margin:0;
	}
	main{
		display:flow-root
	}

	.nav {
		position: fixed;
		z-index: 1000;
	}

	.nav ul {
		margin: 0px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.nav ul li a {
		display: block;
	}

	footer{
		height:50px;
	}
	footer h2{
		margin:0px;
	}

}

/*コンテンツ内のデザインに着目したレイヤー*/
@layer typography {
	body {
		height: 10000px;
		width: 100%;
	}
	.nav {
		width: 100vw;
		height: 50px;
		top: 0px;
		opacity: 0.9;
		background-color: #333;
		border-bottom: 2px solid black;
	}

	.nav ul {
		width: 100vw;
		height: 100%;
		padding: 0px;
		list-style: none;
	}

	.nav ul li a {
		font-size: 20px;
		color: white;
		padding: 10px 10px; /* PC表示でのpaddingを少し調整 */
		text-decoration: none;
		transition: background-color 0.3s;
	}

	.nav ul li a:hover {
		background-color: #555;
	}
	footer{
		background-color:black;
	}
	footer h2{
		color:white;
	}

}
/*横幅が635px以下になった時に適用するスタイル。ここではレイアウトとタイポグラフィーの区分はない*/
@media (max-width:790px) {
}
