/* このcssは各webページで共通するスタイルが記述されています。 */



@layer CssReset, Layout, appearance;
/*マジックナンバー防ぐよう*/
:root{
}
@Layer CssReset{
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	body,
	h1, h2, h3, h4, h5, h6,
	p,
	ul, ol, li,
	figure, figcaption, blockquote, dl, dd {
		margin: 0;
		padding: 0;
	}

}
/*margin paddingなどコンテンツの配置に関するレイヤー*/
@layer Layout {
	main{
		display:flow-root
	}

	.nav {
		position: fixed;
		z-index: 1000;
	}

	.nav ul {
		margin: 0px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.nav ul li a {
		display: block;
	}

	footer{
		height:50px;
	}

}

/*コンテンツ内のデザインに着目したレイヤー*/
@layer appearance {
	body {
		width: 100%;
	}

	.nav {
		width: 100%;
		height: 50px;
		top: 0px;
		opacity: 0.9;
		background-color: #333;
		border-bottom: 2px solid black;
	}

	.nav ul {
		width: 100%;
		height: 100%;
		padding: 0px;
		list-style: none;
	}

	.nav ul li a {
		font-size: 20px;
		color: white;
		padding: 10px 10px; /* PC表示でのpaddingを少し調整 */
		text-decoration: none;
		transition: background-color 0.3s;
	}

	.nav ul li a:hover {
		background-color: #555;
	}

	footer {
		background-color: black;
	}

	footer h2 {
		color: white;
	}
}
/*横幅が635px以下になった時に適用するスタイル。ここではレイアウトとタイポグラフィーの区分はない*/
@media (max-width:790px) {
}
