/*ユーザーエージェントスタイルシートを統一するスタイルシートをlayerとして読み込んでいる、*/
@import url("../Normalize.css") layer(normalize);
/*webページ全体で共通するスタイルをレイヤーとして読み込んでいる*/
@import url("../Standard.css") layer(standard);

@layer normalize, standard, Layout, typography;
/*マジックナンバー防ぐよう*/
:root {
    --sectionBorder: 20px;
}

/*margin paddingなどコンテンツの配置に関するレイヤー*/
@layer Layout {
    header {
        position: relative;
        width: 100%;
        height: 280px;
    }
    #HeaderBackground {
        position: absolute;
        height: 280px;
        width: 100%;
        object-fit: cover;
        z-index: 0;
    }
    #HeaderLogo {
        position: absolute;
        left: 10px;
        bottom: 0px;
        z-index: 1;
    }
    #HeaderLogo img{
        width:165px;
    }
    #HeaderTitle{
        position: absolute;
        bottom: 0px;
        right: 0px;
        margin: 0px;
        padding: 10px;
        z-index: 2;
    }

    main {
        margin: var(--sectionBorder) 0px 0px 0px;
    }


    section {
        margin: 0px var(--sectionBorder) var(--sectionBorder) var(--sectionBorder);
    }

    section p {
        margin: 0px;
        padding: 10px 10px;
    }
    section h2{
        margin:0px;
        padding:5px 10px;
    }

}

/*コンテンツ内のデザインに着目したレイヤー*/
@layer typography{

    #HeaderTitle {
        font-size: 60px;
        color: white;
        text-shadow: 2px 2px 15px green;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: black;
        /*文字→輪郭から輪郭→文字の順で描画させる*/
        paint-order: stroke;
    }

    section {
        background-color: white;
        line-height: 30px
    }

    section h2{
        background-color:black;
        color:white;
    }
}
/*横幅が635px以下になった時に適用するスタイル。ここではレイアウトとタイポグラフィーの区分はない*/
@media (max-width:790px) {
    #HeaderLogo {
        /* 1. 親要素の左端から50%の位置に移動 */
        left: 50%;
        /* 2. 要素自身の幅の50%分、左にずらす */
        transform: translateX(-50%);
        bottom: 50px
    }

    #HeaderLogo img {
        width: 165px;
    }

    #HeaderTitle {
        /* 1. 親要素の左端から50%の位置に移動 */
        left: 50%;
        /* 2. 要素自身の幅の50%分、左にずらす */
        transform: translateX(-50%);
        /* 3. 折り返しさせずにコンテンツ分の幅を確保する。
        */
        width: max-content;
        font-size: 35px
    }
}


