/*ユーザーエージェントスタイルシートを統一するスタイルシートをlayerとして読み込んでいる、*/
@import url("../CommonFiles/Normalize.css") layer(normalize);
/*webページ全体で共通するスタイルをレイヤーとして読み込んでいる*/
@import url("../CommonFiles/Standard.css") layer(standard);

@layer normalize, standard, Layout, appearance, animation;
/*マジックナンバー防ぐよう*/
:root {
    --SectionBorder: 20px;
    --SectionH2BorderRadius: 20px;
    --Z_level_1: 1;
    --Z_level_2: 2;
    --Z_level_3: 3;
    --GearSize:350px;
}

/*margin positionなどコンテンツの配置に関するレイヤー*/
@layer Layout {
    header{
        position:relative;
    }
    #HeaderBackground {
        position: absolute;
        top: 0px;
        z-index: var(--Z_level_1);
    }

    #HeaderTitle1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 115px;
        z-index: var(--Z_level_3);
    }
    #HeaderTitle2 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 25px;
        z-index: var(--Z_level_3);
    }
    #TopLeftGear {
        position: absolute;
        /*50pxはnavのheightによる物*/
        top: calc((var(--GearSize) / -2) + 50px);
        left: calc(var(--GearSize) / -2);
        z-index: var(--Z_level_2);
    }

    #BottomRightGear {
        position: absolute;
        bottom: calc(var(--GearSize) / -2);
        right: calc(var(--GearSize) / -2);
        z-index: var(--Z_level_2);
    }

    main {
        position: relative;
        margin-top: var(--SectionBorder);
    }
    /*縦並び用*/
    .SectionContainer1 {
        display: flex;
        flex-direction: column;
        margin: var(--SectionBorder);
        gap: var(--SectionBorder);
    }
    /*横並び用*/
    .SectionContainer2 {
        display: flex;
        gap: var(--SectionBorder);
    }
    .plain-text {
        margin: 10px 10px;
    }
}

/*コンテンツ内のデザインに着目したレイヤー*/
@layer appearance {
    html {
        background-color: floralwhite;
    }

    header {
        overflow:hidden;
        height: 280px;
    }

    #HeaderBackground {
        height: 280px;
        width: 100%;
        object-fit: cover;
    }



    #HeaderTitle1 {
        width: max-content;
        font-family: sans-serif;
        font-size: 70px;
        color: rgb(0,86,179);
        text-shadow:-0.5px  -0.5px 0px rgba(255,255,255,1),
                      -1px    -1px 0px rgba(255,255,255,0.83),
                    -1.5px  -1.5px 0px rgba(255,255,255,0.664),
                      -2px    -2px 0px rgba(255,255,255,0.498),
                    -2.5px  -2.5px 0px rgba(255,255,255,0.332),
                      -3px    -3px 0px rgba(255,255,255,0.166),



                     0.5px   0.5px 0px rgba(0,0,0,1),
                       1px     1px 0px rgba(0,0,0,0.83),
                     1.5px   1.5px 0px rgba(0,0,0,0.664),
                       2px     2px 0px rgba(0,0,0,0.498),
                     2.5px   2.5px 0px rgba(0,0,0,0.332),
                       3px     3px 0px rgba(0,0,0,0.166);
              
    }

    #HeaderTitle2 {
        width: max-content;
        font-family: sans-serif;
        font-size: 40px;
        letter-spacing: 10px;
        color: white;
        background-color: rgb(87, 87, 87, 0.80);
        padding: 5px 20px;
        -webkit-text-stroke-width: 5px;
        -webkit-text-stroke-color: black;
        /*文字→輪郭から輪郭→文字の順で描画させる*/
        paint-order: stroke;
        border: 0px solid dimgray;
        border-radius: 40px;
        font-weight:bold;
    }
    #TopLeftGear {
        width: var(--GearSize);
        animation: RotateZ forwards 8s linear infinite normal;
    }
    #BottomRightGear {
        width: var(--GearSize);
        animation: RotateZ forwards 8s linear infinite normal;
    }
    .section {
        background-color: white;
        border-radius: var(--SectionH2BorderRadius) var(--SectionH2BorderRadius) 0px 0px;
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .SectionTitle {
        font-family: sans-serif;
        font-size: 24px;
        padding: 5px 10px;
        text-align: center;
        background-color: dimgrey;
        border-left: solid 4px black;
        border-bottom: solid 2px black;
        border-radius: var(--SectionH2BorderRadius) var(--SectionH2BorderRadius) 0px 0px;
        color: white;
    }

    .plain-text {
        line-height: 30px;
    }

    .info-text {
        font-size: 30px;
        margin: 15px;
        font-weight:bold
    }

}
@layer animation{
    @keyframes RotateZ{
        0% {
        }
        100%{
            transform:rotateZ(360deg);
        }
    }
}
/*横幅が790px以下になった時に適用するスタイル。ここではレイアウトとappearanceの区分はない*/
@media (max-width:790px) {
    #HeaderTitle1{
        font-size:40px;
        text-shadow:-0.416px   -0.416px 0px rgba(255,255,255,1),
                    -0.833px   -0.833px 0px rgba(255,255,255,0.83),
                    -1.250px   -1.250px 0px rgba(255,255,255,0.664),
                    -1.666px   -1.666px 0px rgba(255,255,255,0.498),
                    -2.083px   -2.083px 0px rgba(255,255,255,0.332),
                    -2.500px   -2.500px 0px rgba(255,255,255,0.166),

                      0.416px   0.416px 0px rgba(0,0,0,1),
                      0.833px   0.833px 0px rgba(0,0,0,0.83),
                      1.250px   1.250px 0px rgba(0,0,0,0.664),
                      1.666px   1.666px 0px rgba(0,0,0,0.498),
                      2.083px   2.083px 0px rgba(0,0,0,0.332),
                      2.500px   2.500px 0px rgba(0,0,0,0.166);

    }
    #HeaderTitle2 {
        font-size: 25px;
        bottom: 45px;
    }
    #BottomRightGear, #TopLeftGear {
        --GearSize: 350px;
    }
    .info-text {
        font-size: 20px;
    }

    .SectionContainer2 {
        flex-direction: column;
    }

}
