/*ユーザーエージェントスタイルシートを統一するスタイルシートをlayerとして読み込んでいる、*/
@import url("../CommonFiles/Normalize.css") layer(normalize);
/*webページ全体で共通するスタイルをレイヤーとして読み込んでいる*/
@import url("../CommonFiles/Standard.css") layer(standard);

@layer normalize, standard, Layout, appearance;

/*  ここに省略された名前の正式名称を記す
    HSC=HardSectionContainer
    SSC=SoftSectionContainr
    HS=HardSection
    SS=SoftSection
*/
/*マジックナンバー防ぐよう*/
:root {
    --Header-height: 280px;
}
/*margin transformなどコンテンツ外に関するレイヤー*/
@layer Layout {
    header {
        position: relative;
        z-index: 1;
        /*Title2クラスのはみ出しにより、スクロール領域が拡大するのを防ぐ用*/
        overflow: hidden;
    }
    header canvas{
        position:absolute;
        z-index:2;
    }
    #Title1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: left;
        /*140pxはheaderのheight=280　⇒headerのheight/2=280/2=140の流れで出た*/
        /*rotateZで回転させてから y と xの変形関数を適用させている。
        */
        transform: rotateZ(calc(-1 * atan2(var(--Header-height), 100vw))) translateY(calc(-50% - 70px)) translateX(calc(-50% - 160px));
        z-index: 3;
    }

    #Title2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: left;
        transform: rotateZ(calc(-1 * atan2(var(--Header-height), 100vw))) translateY(-50%) translateX(-50%);
        z-index: 3;
    }

    #SSC{
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:20px;
    }
    #HSC {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .ContentWrapper {
        display: flex;
        justify-content: center;
        margin: 20px;
        align-items: center;
    }
    .ContentWrapper .SectionP {
        margin: 0px 10px 10px 10px;
    }


    .SoftCarouselContainer{
        position:relative;
        overflow: hidden;
    }
    .SoftCarousel{
        display: flex;
    }
    .SoftCard{
        margin-left: 20px;
    }
    .SoftCardImg{
        margin-top: 10px;
    }

}

/*コンテンツ内の色やサイズなどに着目したレイヤー 主にある要素の内側に関する設定がある。*/
@layer appearance {
    html {
        background-color: floralwhite;
    }
    header {
        height: var(--Header-height);
        background-color:black;
    }
    header canvas{
        width:100%;
        height:100%;
    }
    #Title1 {
        font-family: sans-serif;
        width: max-content;
        font-size: 40px;
        letter-spacing: 10px;
        color: white;
        font-weight: bold;
    }

    #Title2 {
        font-family: sans-serif;
        text-align: center;
        font-size: 60px;
        width: calc(100% + 200px);
        padding: 7px 0px;
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
        text-shadow:-0.5px  -0.5px 0px rgba(255,255,255,1),
                      -1px    -1px 0px rgba(255,255,255,0.83),
                    -1.5px  -1.5px 0px rgba(255,255,255,0.664),
                      -2px    -2px 0px rgba(255,255,255,0.498),
                    -2.5px  -2.5px 0px rgba(255,255,255,0.332),
                      -3px    -3px 0px rgba(255,255,255,0.166),



                     0.5px   0.5px 0px rgba(105,105,105,1),
                       1px     1px 0px rgba(105,105,105,0.83),
                     1.5px   1.5px 0px rgba(105,105,105,0.664),
                       2px     2px 0px rgba(105,105,105,0.498),
                     2.5px   2.5px 0px rgba(105,105,105,0.332),
                       3px     3px 0px rgba(105,105,105,0.166);

        border-bottom: 3px solid white;
        border-top: 3px solid white;
    }

    #SSC {
        width: auto;
        background-color: white;
        padding:20px;
    }
    #SSC .SS {
        width: 100%;
        background-color: black;
        color: white;
        border: 1px solid black;
        box-shadow: 4px 4px 8px rgba(0,191,255,0.4); /*deepskyblueの透明度を0.7*/
    }
    .SoftSectionTitle {
        font-family: sans-serif;
        text-align: center;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        color: deepskyblue;
    }
    #HSC {
        width: auto;
        background-color:black;
        padding:20px;
    }
    #HSC .HS {
        width: 100%;
        background-color: white;
        border: 1px solid white;
        box-shadow: 4px 4px 8px rgba(255,165,0,0.9);/*orangeの透明度を0.7*/
    }
    .HardSectionTitle {
        font-family: sans-serif;
        text-align: center;
        color: orange;
        padding: 10px;
        background-color: black;
    }

    .SectionP {
        line-height: 30px;
    }
    .SoftSectionImg {
        width: 250px;
        border: 1px solid black;
        outline: 7px solid white;
        border-radius: 8px 8px;
    }
    .HardSectionImg {
        width: 250px;
        border: 1px solid white;
        outline:7px solid black;
        border-radius:8px 8px;
    }
    .SoftCarouselContainer{
        width:100%;
        background-color: white;
        padding-bottom: 20px;
    }
    .SoftCarousel{
        width:100%;
        cursor: grab;
        user-select: none;
    }

    .SoftCard{
        width:300px;
        text-align: center;
        flex-shrink: 0;
        background-color: black;
        border: 1px solid black;
        box-shadow: 4px 4px 8px rgba(0,191,255,0.4); /*deepskyblueの透明度を0.7*/
    }
    .SoftCardTitle{
        font-family: sans-serif;
        text-align: center;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        color: deepskyblue;
    }
    .SoftCardImg{
        width:250px;
        border-radius: 8px 8px;

    }
    .SoftCardExplain{
        line-height: 30px;
        color:white;
    }


}
/*横幅が790px以下になった時に適用するスタイル。ここではレイアウトとappearanceの区分はない*/
@media (max-width:790px) {
    header #Title1 {
        font-size: 25px;
        transform: rotateZ(calc(-1 * atan2(var(--Header-height), 100vw))) translateY(calc(-50% - 50px)) translateX(calc(-50% - 70px));
    }

    header #Title2 {
        font-size: 35px;
        text-shadow:-0.416px   -0.416px 0px rgba(255,255,255,1),
                    -0.833px   -0.833px 0px rgba(255,255,255,0.83),
                    -1.250px   -1.250px 0px rgba(255,255,255,0.664),
                    -1.666px   -1.666px 0px rgba(255,255,255,0.498),
                    -2.083px   -2.083px 0px rgba(255,255,255,0.332),
                    -2.500px   -2.500px 0px rgba(255,255,255,0.166),

                      0.416px   0.416px 0px rgba(105,105,105,1),
                      0.833px   0.833px 0px rgba(105,105,105,0.83),
                      1.250px   1.250px 0px rgba(105,105,105,0.664),
                      1.666px   1.666px 0px rgba(105,105,105,0.498),
                      2.083px   2.083px 0px rgba(105,105,105,0.332),
                      2.500px   2.500px 0px rgba(105,105,105,0.166);

    }

    .ContentWrapper{
        flex-direction:column;
    }

}
